:root {
  --background: #ffffff;
  --foreground: #171717;
  /*KoroKoro*/
  --koro-blue: #89b0d1;
  --koro-blue-dark: #5a7891;
  --koro-pink: #d783b1;
  --koro-pink-dark: #af6c90;
  --koro-pink-light: #f9edf3;
  --koro-beige-light: #fffdf8;
  --koro-black: #0e0e0e;
  /*KoroDeck-Screen-Display*/
  --screen-dark: #20414d;
  --screen-middle-dark: #639b85;
  --screen-middle-light: #b5dca1;
  --screen-light: #f0fee7;
  /* KoroDeck-Case */
  --case-grey: #c1c3b7;
  --case-grey-dark: #737373;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Press Start 2P", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
